# Default ignored files
/shelf/
/workspace.xml
/misc.xml
out/
# Datasource local storage ignored files
/src/jdbc.properties
/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
