<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:task="http://www.springframework.org/schema/task"
       xmlns:tx="http://www.springframework.org/schema/tx" xmlns:mvc="http://www.springframework.org/schema/c"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
    http://www.springframework.org/schema/aop
    http://www.springframework.org/schema/aop/spring-aop-4.0.xsd
    http://www.springframework.org/schema/tx
    http://www.springframework.org/schema/tx/spring-tx-4.0.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context-4.0.xsd
    http://www.springframework.org/schema/task http://www.springframework.org/schema/task/spring-task-4.0.xsd">

    <!-- 开启注解扫描 -->
    <context:component-scan base-package="car.aspect"/>
    <context:component-scan base-package="car.scheduled"/>

    <!-- 开启aop注解方式,默认为false -->
    <aop:aspectj-autoproxy/>
    <!--数据库连接配置-->
    <context:property-placeholder location="classpath:jdbc.properties"/>
    <bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
        <property name="driverClassName" value="${jdbc.driverClassName}"/>
        <property name="url" value="${jdbc.url}"/>
        <property name="username" value="${jdbc.user}"/>
        <property name="password" value="${jdbc.password}"/>
    </bean>

    <task:annotation-driven scheduler="dataScheduler"/>
    <task:scheduler id="dataScheduler" pool-size="5" />

    <!-- 添加sessionFactory bane ，注意，该类是Spring提供的 -->
    <bean id="sessionFactory"
          class="org.springframework.orm.hibernate5.LocalSessionFactoryBean">
        <property name="dataSource" ref="dataSource" />
        <property name="hibernateProperties">
            <props>
                <prop key="hibernate.dialect">
                    org.hibernate.dialect.MySQLDialect
                </prop>
            </props>
        </property>
        <property name="mappingResources">
            <list>
                <value>car/po/User.hbm.xml</value>
                <value>car/po/Admin.hbm.xml</value>
                <value>car/po/Car.hbm.xml</value>
                <value>car/po/application/FixApplication.hbm.xml</value>
                <value>car/po/application/LendApplication.hbm.xml</value>
                <value>car/po/application/CarApplication.hbm.xml</value>
                <value>car/po/record/Notification.hbm.xml</value>
                <value>car/po/record/StatusLog.hbm.xml</value>
                <value>car/po/record/DriveLog.hbm.xml</value>
                <value>car/po/record/FixLog.hbm.xml</value>
                <value>car/po/record/MaintenanceLog.hbm.xml</value>
                <value>car/po/record/Violation.hbm.xml</value>
                <value>car/po/record/Track.hbm.xml</value>
            </list>
        </property>
    </bean>
    <bean id="baseDAO" class="car.dao.BaseHibernateDao">
        <property name="sessionFactory" ref="sessionFactory" />
    </bean>

    <bean id="userDao" class="car.dao.UserDaoImpl" scope="prototype" parent="baseDAO"/>
    <bean id="userAction" class="car.action.UserAction" scope="prototype">
        <property name="userService" ref="userService"/>
    </bean>
    <bean id="userService" class="car.service.UserServiceImpl" scope="prototype">
        <property name="userDao" ref="userDao"/>
    </bean>

    <bean id="applicationDao" class="car.dao.ApplicationDaoImpl" scope="prototype" parent="baseDAO"/>
    <bean id="applicationAction" class="car.action.ApplicationAction" scope="prototype">
        <property name="applicationService" ref="applicationService"/>
    </bean>
    <bean id="applicationService" class="car.service.ApplicationServiceImpl" scope="prototype">
        <property name="applicationDao" ref="applicationDao"/>
    </bean>

    <bean id="carDao" class="car.dao.CarDaoImpl" scope="prototype" parent="baseDAO"/>
    <bean id="carAction" class="car.action.CarAction" scope="prototype">
        <property name="carService" ref="carService"/>
    </bean>
    <bean id="carService" class="car.service.CarServiceImpl" scope="prototype">
        <property name="carDao" ref="carDao"/>
    </bean>

    <bean id="logDao" class="car.dao.LogDaoImpl" scope="prototype" parent="baseDAO"/>
    <bean id="logAction" class="car.action.LogAction" scope="prototype">
        <property name="logService" ref="logService"/>
    </bean>
    <bean id="logService" class="car.service.LogServiceImpl" scope="prototype">
        <property name="logDao" ref="logDao"/>
    </bean>


</beans>