<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
    http://www.springframework.org/schema/aop
    http://www.springframework.org/schema/aop/spring-aop-4.0.xsd
    http://www.springframework.org/schema/tx
    http://www.springframework.org/schema/tx/spring-tx-4.0.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context-4.0.xsd">

    <!-- 类似于财务部门一样，类就是钱，所有需要类的实例都由spring去管理 -->

    <bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
        <property name="driverClassName" value="com.mysql.cj.jdbc.Driver"/>
        <property name="url" value="jdbc:mysql://localhost:3307/mappingcar"/>
        <property name="username" value="root"/>
        <property name="password" value="root"/>
    </bean>
    <!-- 添加sessionFactory bane ，注意，该类是Spring提供的 -->
    <bean id="sessionFactory"
          class="org.springframework.orm.hibernate5.LocalSessionFactoryBean">
        <property name="dataSource" ref="dataSource" />
        <property name="hibernateProperties">
            <props>
                <prop key="hibernate.dialect">
                    org.hibernate.dialect.MySQLDialect
                </prop>
            </props>
        </property>
        <property name="mappingResources">
            <list>
                <value>car/po/User.hbm.xml</value>
                <value>car/po/Car.hbm.xml</value>
                <value>car/po/application/FixApplication.hbm.xml</value>
                <value>car/po/application/LendApplication.hbm.xml</value>
            </list>
        </property>
    </bean>
    <bean id="baseDAO" class="car.dao.BaseHibernateDao">
        <property name="sessionFactory" ref="sessionFactory" />
    </bean>

    <bean id="userDao" class="car.dao.UserDaoImpl" scope="prototype" parent="baseDAO"/>
    <bean id="userAction" class="car.action.UserAction" scope="prototype">
        <property name="userService" ref="userService"/>
    </bean>
    <bean id="userService" class="car.service.UserServiceImpl" scope="prototype">
        <property name="userDao" ref="userDao"/>
    </bean>

    <bean id="applicationDao" class="car.dao.ApplicationDaoImpl" scope="prototype" parent="baseDAO"/>
    <bean id="applicationAction" class="car.action.ApplicationAction" scope="prototype">
        <property name="applicationService" ref="applicationService"/>
    </bean>
    <bean id="applicationService" class="car.service.ApplicationServiceImpl" scope="prototype">
        <property name="applicationDao" ref="applicationDao"/>
    </bean>

    <bean id="carDao" class="car.dao.CarDaoImpl" scope="prototype" parent="baseDAO"/>
    <bean id="carAction" class="car.action.CarAction" scope="prototype">
        <property name="carService" ref="carService"/>
    </bean>
    <bean id="carService" class="car.service.CarServiceImpl" scope="prototype">
        <property name="carDao" ref="carDao"/>
    </bean>


</beans>